div(class="footer container-fluid bg-dark navbar-dark w-100")
  div(class="row justify-content-center")
    ul(class="list-group bg-dark col-md-4 text-center")
      li(class="list-group-item bg-dark")
        a(href="/signup", class="no-underline links-dark py-2") Sign up for more updates
      li(class="list-group-item bg-dark")
        a(href="#", class="no-underline links-dark py-2") Consult for web services
      li(class="list-group-item bg-dark")
        a(href="#", class="no-underline links-dark py-2") Contact for other business
    ul(class="list-group bg-dark col-md-4 text-center")
      li(class="list-group-item bg-dark")
        a(href="#", class="no-underline links-dark py-2") Report bugs or Give feedback
      li(class="list-group-item bg-dark")
        a(href="#", class="no-underline links-dark py-2") Automotive Projects
      li(class="list-group-item bg-dark")
        a(href="#", class="no-underline links-dark py-2") Youtube Channel
