extends layout

block content
  div(class="row")
    div(class="col-sm mt-2")
      if name
        h2 Welcome #{name}
        h3 Please review your information to verify:
        p email: #{email}
        p Brief Project Description: #{brief_desc}
      else
        form(action='/new_inquery', method='post')
          label Please enter your name:
            input(type='text', name='name')
          label Please enter your email:
            input(type='text', name='email')
          label Please enter a brief description of the project/work you want done:
            input(type='text', name='brief_desc')
          button(type='submit') Submit
    
